.loading-spinner-container{
  width: 100%;
  height: 100%;
  background-color:rgba(25, 25, 25, 0.4);
  position: fixed;
  top: 0;
  left: 0;

.loading-spinner{
  position: fixed;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #eee;
  padding-top: 64px;
  .ball1,
  .ball2,
  .ball3,
  .ball4,
  .ball5 {
    width: 6px;
    height: 30px;
    background-color: #eee;
    margin: 2.5px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .ball2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .ball3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .ball4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .ball5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }


  .info {
    display: block;
    margin-top: 12px;
    text-transform: uppercase;
  }
}

}