.navbar {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(153, 153, 153, 0.7);
  -moz-box-shadow: 0px 0px 6px 0px rgba(153, 153, 153, 0.7);
  box-shadow: 0px 0px 6px 0px rgba(153, 153, 153, 0.7); }

.collapse {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 250ms ease-in-out; }

.show {
  max-height: 500px; }

/*	Dropdown menu */
.loggedin-dropdown-menu {
  position: relative; }
  .loggedin-dropdown-menu > ul {
    position: absolute;
    overflow: hidden;
    list-style: none;
    background-color: #222;
    transition: max-height 250ms;
    color: white;
    text-align: center;
    max-height: 500px; }
    .loggedin-dropdown-menu > ul.show {
      max-height: 500px; }
