.image-thumb{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #ddd;
	cursor: pointer;
	
	.image {
		position: relative;
		height: 100%;
		overflow: hidden;
		width: 100%;
		transition: transform 200ms;
	}

	&:hover {
		.image{
			transform: scale(1.2);
		}
		.hover-content{
			opacity: 1;
		}
	}

	.hover-content {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		color: white;
		text-align: center;
		padding-top: 12px;
		top: 0;
		opacity: 0;
		background-color: rgba(25, 25, 25, 0.5);
		transition-delay: 3000ms;
		transition: all 250ms;
	}
}