
.profile{
  .intro{
    display: flex;
    
    .profile-image-wrapper {
      width: 150px;
      //border-radius: 50%;
      overflow: hidden;
      img {
        height: 150px;
        width: 150px;
      }
    }

    .intro-text{
      width: calc(66.66% - 2em);
      margin-left: 2em;

      h1 {
        text-transform: uppercase;
        margin-top: 0;
      }
      
    }
  }

  .images{
    margin-top: 36px;
    position: relative;
    h2{
      display: inline-block;
      margin-top: 0;
      line-height: 1;
    }

    span {
      display: inline-block;
      @media (min-width: 475px){
        right: 24px;
      }
      right: 0;
      top: -20px;
      position: absolute;
      padding: 0px 22px;
      color: white;
      font-weight: bold;
      font-size: 48px;
      text-shadow: 0.5px 0.5px #444;
      border-radius: 100%;
      //background-color: #f4dc41;
    }

    div {
      margin-top: 12px;
    }
  }
}